@font-face {
  font-family: "Evolventa";
  src: url("../public/fonts/Evolventa-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Evolventa";
  src: url("../public/fonts/Evolventa-Bold.ttf") format("truetype");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Evolventa";
}

.App {
  width: 100%;
  height: 7000px;
  background-image: url(../public/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.App::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.App::-webkit-scrollbar-thumb {
  background-color: #18aaaa;
}

.App::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #f9f9fd;
}

button {
  cursor: pointer;
  transition: 0.3s;
}